body {
    text-align: center;
    font-family: 'Roboto', sans-serif;
  
  }

header {
    width: 1920px;
    height:70px;
    background:rgba(0, 0, 0, 0.8);
}
img {
  width: 2cm;
  height: 2cm;
  display: inline-block;
  margin-right: 1200px;
}

p {
  font-weight: bold
  font-family: 'Roboto', sans-serif;
  font-size: 17px;
} 
h1 {
      font-weight: bold;
      font-family: 'Roboto', sans-serif;
      font-size: 70px;
    } 
h4 {
        font-weight: bold;
        font-family: 'Roboto', sans-serif;
        font-size: 30px;
        
      } 

    
    h3 {
        font-weight: bold;
        font-family: 'Roboto', sans-serif;
        font-size: 45px;
      
      } 
      h5 {
        font-weight:lighter;
        font-family: 'Roboto', sans-serif;
        font-size: 25px;
        margin: 0;
      } 

  .title-red {
    color: red;
    margin-top: 30px;
  }
  
  .title-blue {
    color:rgb(0, 113, 227);
    padding: 20px;
    margin: auto;
  }
button {
  background-color:rgb(0, 113, 227);
  box-shadow: white;
  width: 4cm;
  color: white;
  padding: 10px;
  border-radius: 15px;
  margin: 20px;;
}

.box-centered {
	width: 600px;
	height: 800px;
	background-color: rgb(242, 242, 242);
  display: inline-block;
  margin-inline: 30px;
  margin-top: 30px;
}

#main-home { 
width: 1400px;
height: auto;
margin:0;
padding-bottom: 40px;
padding-top: 40px;
}

footer { 
  background-color: rgb(245, 245, 247);
  width: 1920px;
  height: 150px;
}

